<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListTopics</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
    <div class="container">
        <div class="contains">
            <div class="user" th:if="${session.user}">
                <div>Chao <span th:text="${session.user.username}"></span></div>
                <span></span>
                <a href="/logout">Thoat</a>
            </div>
            <div class="title">
            	<div>Diễn đàn: Chuuyện học phí và chính sách hỗ trợ học tập</div>
            </div>
            <div class="content">
                <a href="/newTopic" class="btn btn-page" th:if="${session.user != null}" style="text-decoration: none">Gửi bài mới</a>
                <table>
                    <tr>
                        <th>Chủ đề</th>
                        <th>Hồi âm</th>
                    </tr>
                    
                  	<tr th:each="topic : ${topics}">
                  		<td>
                  			<a th:href="@{/showTopic?id={id}(id=${topic.id})}" th:text="${topic.title}"></a>
                  			<div style="font-size: 16px; margin-top: 5px">
                  				Bài viết mới nhất by
                  				<a th:text="${topic.getNewMessage().creator.username}+ ', ' + ${topic.getNewMessage().getTime()}"></a>
                  			</div>
                  			
                  		</td>
                        <td th:text="${#lists.size(topic.messages)}"></td>
                    </tr>
                   
                </table>
            </div>

        </div>
    </div>
    
</body>
</html>